.centerBlock {
    /* Just to center the form on the page */
    background-image: url("../images/background_blur.jpg");
    -webkit-box-shadow: 1px 1px 149px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 149px 13px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 149px 13px rgba(0,0,0,0.75);

    margin: 0 auto;
    margin-top: 200px;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;

}



body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}

button {
    background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 14px;
    height: 30px;
    width: 100px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}
button:hover {
    background: #3071A9;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    width: 300px;
}

form div {
    margin-top: 20px;
}
