*{
    margin:0;
    padding: 0;
}
body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1px 0px 15px;
    font-size: 15px;
    /*text-align: center;*/
    background-image: url("../images/background.jpg");
    background-size: cover;

}
ul{
    display: inline;
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
    cursor: pointer;

    width: 200px;
    text-align: center;
    line-height: 21px;
}
ul li a{
    display: block;
    padding: 5px 10px;
    color: #333;
    background: #f2f2f2;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}

ul li ul {
    padding: 0;
    position: absolute;
    /*width: 150px;*/
    display: none;
    opacity: 0;
    visibility: hidden;
}
ul li ul li {
    background: #555;
    display: block;
    color: #fff;
}

ul li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}
.menu{
    text-align: center;
    background: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position:fixed;
    z-index: 1000;
}
.centerBlock {
    background-image: url("../images/background_blur.jpg");
    -webkit-box-shadow: 1px 1px 149px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 149px 13px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 149px 13px rgba(0,0,0,0.75);
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    /*min-height: 300px;*/
     /*To see the outline of the form*/
    padding: 40%;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 30px;
}

button {
    margin-top: 20px;
    margin-right: 20px;
    background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 14px;
    height: 30px;
    width: 100px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}
button:hover {
    background: #3071A9;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
}
input, textarea {
    /*width: 300px;*/
}
table{
    width: 100%;
}
form div {
    margin-top: 20px;
}
.column{
    margin-top: 20px;
}